.homes {
 position: fixed; top: 50%; left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  position: fixed; 
  top: 50%; left:50%;
  transform: translate(-50%, -50%);
  margin: auto; 
  background-color: white;
  background-image:url("../png/border3.g");
   height: 100%;
  background-color: #f5f0eb;
     background-image:url("../png/9.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: %;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
 }
.accordion {
  color: #444;
  cursor: pointer;
  transition: 0.4s;
}

.activi, .accordion:hover {
  
}

.accordion:after {
  margin-bottom:8px;
  content: '';
  color: #777;
  background-image:url("../png/drop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10px;
  width: 20px;
  float: left;
  margin-left: 0px;
}

.activi:after {
  margin-bottom:8px;
  content: "";
  background-image:url("../png/up.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10px;
  width: 20px;
}

.panel {
  position: fixed; 
            top: 0; 
  width: 100%;
  color: #000;
  margin-left: 0px;
  padding: 0 20px;
  text-align: left;
  background-color: #f1f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.content-panel {
  height: 200px;
  overflow: auto;
  font-size: 44px;
 }
.panel2 {
  margin-top: 0px!important;
 position: fixed; top: 10%; left:50%;
  transform: translate(-50%, -50%);
 margin-right: 0%;
  width: 64%;
 position: fixed;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;.
  border-radius: 8px;
 box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.3);
  z-index: 999;
}
.bk-modal {
  margin-top: 5px;
  display:block;
	position:absolute;
	bottom:0;
	right:2px;
  width: 50px;
  height: 50px;
    background-image:url("../png/0.png");
    	background-repeat: no-repeat;
	background-position:bottom right;
}

.fs {
  height: 22px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff;
  background-image:url("../png/tjd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px;
  float: left;
  border: 2px solid #fff;
  margin-right:-px;
  cursor: pointer;
}
.fs:hover {
  background: red;
  transform: rotate(360deg);
}
.font {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  background-image:url("../png/fs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2px;
  float: left;
  border: 1px solid #fff;
  margin-left: 10px;
  cursor: pointer;
}
.font:hover {
  background: red;
  background-image:url("../png/fs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotate(360deg);
}
.slid {
  height: 35px;
  width: 35px;
  margin-top:px;
  margin-right:15px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: absolute; 
            top: 0px; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto;
  padding: 4px;
  background-color: #f5f0eb;
  background-image:url("../png/9.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  padding: 0px;
  border: px solid #888;
  width: 90%;
  height: 100%;
  margin-top: 0px;
  overflow: hidden;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -800px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -800px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
div.a {
  background: #fff;
  position: relative;
  border: 10px solid transparent;
  -webkit-border-image: url(../png/border3.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(png/border3.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../png/border3.png) 30 round;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
 margin-botton: %;
  margin-top: 0%;
  padding: 4px;
  text-align: right;
  color: #000000;
  width: 80%;
  height: 83%;
  overflow: auto;
}
.header2 {
  top: 5px;
 position: absolute;
  width: 100%;
 margin-left: -2px;
  font-size: 6px;
  color: white;
  text-align:center;
  padding: 2px;
 z-index: 9999;
}
.navbar2 {
  width: 100%;
  overflow: hidden;
  position: fixed;
  margin-right: 2%;
  border: 2px solid brown;
  border-radius: 30px;
  bottom: 0;
  background:rgba(0,0,0, 0.1);
 padding: 0px;
}
.navbar2 a {
  padding: 10px 10px;

}
div.overflo {
  background-color: #f5f0eb;
  position: fixed; 
  padding: 0px 0px 8px;
    top: 50%; left:50%;
  transform: translate(-50%, -50%);
  border-top: none;
border: 12px solid transparent;
  padding-bottom: 30px;
  -webkit-border-image: url(../png/border3.png) 18 round; /* Safari 3.1-5 */
  -o-border-image: url(../png/border3.png) 18 round; /* Opera 11-12.1 */
  border-image: url(../png/border3.png) 30 round;
  margin-top: -28px;
 margin-left: 0;
  height: 79%;
  width: 82%;
  overflow: auto;
  text-align: center;
  -webkit-animation: fadeEffect 0.2s;
  animation: fadeEffect 0.2s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}

    }

.header {
  position: fixed; 
 overflow: hidden;
  bottom: 30px;
  width: 85%;
 position: fixed; left: 50%; transform: translate(-50%, -50%); margin: 0 auto;
background: #8B4513;
  font-size: 6px;
  text-align: left;
  color: white;
  padding: 5px;
  border-radius: 20px;
  z-index: 99;
}

.header {
  font-size: 6px;
  color: white;
}
.headerjuz {
  position: fixed; 
 overflow: hidden;
  bottom: 30px;
  width: 85%;
 position: fixed; left: 50%; transform: translate(-50%, -50%); margin: 0 auto;
background: #8B4513;
  font-size: 14px;
  text-align: left;
  color: white;
  padding: 5px 5px;
  border-radius: 20px;
  z-index: 99;
}

.headerhome {
  position: fixed; 
 overflow: hidden;
  bottom: 1px;
  width: 85%;
 position: fixed; left: 50%; transform: translate(-50%, -50%); margin: 0 auto;
background: #8B4513;
  background-image:url("../png/bdhome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 20%;
  border: 1px solid #fff;
  z-index: 99;
}
.zoom ul.zoom-list {
list-style: none;
margin: 0px 0px 0px 0px;
padding: 1px 6px 1px 1px;
float: left;
border: 1px solid #888A85;
background: green url('../img/bg.png') repeat-x;
border-radius: 5px;
font-size: 4px;
width: 220px;
height: 22px;
}

.zoom .zoom-list li {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
float: left;
cursor: pointer;
font-family: 'arial';
font-size: 4px;
line-height: 14px;
background: url('../img/sprite.png')
 no-repeat top left;
}

list-group-item:hover{
  text-decoration:none
}

.list-group-item.disabled,.list-group-item:disabled{
  color:#ffffdb;
  background-color:#000;
}

.list-group-item.active{
  background-color:#fff;
  color: black;
  border-right: px solid #fff;
  border-radius: px px;
}
.list-group-flush .list-group-item{
  border-left: 3px solid #fff;
  border-radius: px px;
  border-right:0;border-left:0;border-radius:0}
.list-group-flush:first-child .list-group-item:first-child{border-top:0}.list-group-flush:last-child .list-group-item:last-child{border-bottom:0}
/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
}
.collapsible {
  margin-top: 10px;
  background-color: #573603;
  color: white;
  padding: 6px;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.act, .collapsible:hover {
  background-color: #694205;
}
.collapsible:after {
  content: '\25BC';
  color: white;
  font-weight: bold;
  float: centered;
  margin-left: 12px;
}
.act:after {
  content: "\25B2";
}
div.button2 {
  margin-top: 8px;
  float: centered;
  background-image:url("../png/bss.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 16px 32px;
  font-size: 18px;
  font-family: Qalam-majeed;
  src: url(Qalam-majeed.ttf);
  text-align: center;
  color: transparent;
}
div.button2a {
  margin-top: 8px;
  float: centered;
  background-image:url("../png/bss1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 6px 32px;
  font-size: 18px;
  font-family: Qalam-majeed;
  src: url(Qalam-majeed.ttf);
  text-align: center;
  color: green;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav3 {
height: 50px;
  width: 0;
  position: absolute;
  z-index: 0;
  top: %;
  color: #111;
  background-color: #9e6930;
  overflow-x: hidden;
  transition: 0.6s;
  overflow: hidden;
  left: 10px;       
}

.sidenav3 a:hover {
  color: red;
}

.sidenav3 .closebtn3 {
  position: relative;
  top: 5px;
  right: px;
  padding-right: 8px;
  color: red;
  float: right;
}
.sidenav-header3 {
 position: absolute;
  padding: 4px 4px;
  background-color: #9e6930;
  color: #999;
 text-align: center;
  width: 95%;
}

@media screen and (max-height: 15px) {
  .sidenav3 {padding-top: 1px;}
  .sidenav a {px;}
}

#grad1 {
 margin-left: 15px;
  margin-top: -5px;
  background-image:url("png/grs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 text-align: right;
  color: #fff;
  height: 2px;
  width: 90px;
}
.rc {
 margin-top: 2px;
  background-color: #f5f0eb;
 background-image:url("../png/islamic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 
  border: 1px solid #777;
  border-radius: 20px;
 position: relative;
 margin-left: -2%;
 width:65px; 
  height: 28px;
 padding: 2px 40px;
}
.button {
  color: black;
  background-color: #fff;
  border: 6px solid transparent;
  padding: 8px;
  -webkit-border-image: url(../png/borderTh.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(../png/borderTh.png) 30 stretch; /* Opera 11-12.1 */
  border-image: url(../png/borderTh.png) 30 stretch;
  background-image:url("../png/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
jus1, jus2,jus3, jus4, jus5, jus6, jus7, jus8, jus9, jus10, jus11, jus12, jus13, jus14, jus15, jus16, jus17, jus18, jus19, jus20, jus21, jus21, jus22, jus23, jus24, jus25, jus26, jus27, jus28, jus29, jus30 {
  background-image:url("../png/num.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  font-size: 14px;
  text-align: center;
  padding: 8px;
}
jus1::before { 
  content: " Juz-1 ";
}
jus2::before { 
  content: " Juz-2 ";
}
jus3::before { 
  content: " Juz-3 ";
}
jus4::before { 
  content: " Juz-4 ";
}
jus5::before { 
  content: " Juz-5 ";
}
jus6::before { 
  content: " Juz-6 ";
}
  jus7::before { 
  content: " Juz-7 ";
}
  jus8::before { 
  content: " Juz-8 ";
}
  jus9::before { 
  content: " Juz-9 ";
}
  jus10::before { 
  content: " Juz-10 ";
}
  jus11::before { 
  content: " Juz-11 ";
}
  jus12::before { 
  content: " Juz-12 ";
}
  jus13::before { 
  content: " Juz-13 ";
}
  jus14::before { 
  content: " Juz-14 ";
}
  jus15::before { 
  content: " Juz-15 ";
}
  jus16::before { 
  content: " Juz-16 ";
}
  jus17::before { 
  content: " Juz-17 ";
}
  jus18::before { 
  content: " Juz-18 ";
}
  jus19::before { 
  content: " Juz-19 ";
}
  jus20::before { 
  content: " Juz-20 ";
}
  jus21::before { 
  content: " Juz-21 ";
}
  jus22::before { 
  content: " Juz-22 ";
}
  jus23::before { 
  content: " Juz-23 ";
}
  jus24::before { 
  content: " Juz-24 ";
}
  jus25::before { 
  content: " Juz-25 ";
}
  jus26::before { 
  content: " Juz-26 ";
}
  jus27::before { 
  content: " Juz-27 ";
}
  jus28::before { 
  content: " Juz-28 ";
}
  jus29::before { 
  content: " Juz-29 ";
}
  jus30::before { 
  content: " Juz-30 ";
}
  .nex {
  float: right;
  margin-right:3px;
  width: 12px;
  padding:10px;
  color: transparant;
  background-image:url("../png/nex.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.pre {
  float: right;
  margin-right:3px;
  width: 12px;
  padding:10px;
  color: transparant;
  background-image:url("../png/prev.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
